### Release

- See a high level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Arelease)
- Stage usage can be tracked at the Release [SMAU (Stage Monthly Active Users) Dashboard](https://app.periscopedata.com/app/gitlab/451468/Release-Stage-Dashboard)

The three year target for Release is:

- Support mature organizations as the provider of choice for navigating cross-repository, multi-cloud complex releases 
- Simplfy the day to day jobs for those enduring the market shift of a centralized Release Management role into a shared, distributed responsibility across several groups with varying levels of technical expertise by providing tools to effectively manage releases naturally in GitLab. This includes features such as [Runbooks for Releases](https://gitlab.com/gitlab-org/gitlab/issues/9427), [Administration of Blackout Periods](https://gitlab.com/gitlab-org/gitlab/issues/24295), [Automatic collection of Release Evidence](https://gitlab.com/groups/gitlab-org/-/epics/1856), and [Context-awareness in Environments](https://gitlab.com/gitlab-org/gitlab/issues/14503)
- Enable common deployment targets that just work - point us to your code and your environment, and we'll automatically connect the dots. We'll do this beyond just Kubernetes and support Azure, Google Cloud Platform, AWS, alongside mobile marketplaces and other app stores. 
- Deliver on the promise of [Progressive Delivery](/direction/release/progressive_delivery) by offering a market-leading solution.

The details of how we'll achieve different elements of this can be found in the individual category pages below:

<%= partial("direction/categories-content", :locals => { :stageKey => "release" }) %>
